/BoundaryViolationException.class
/EmptyDequeException.class
/EmptyListException.class
/EmptyStackException.class
/EmptyTreeException.class
/FullStackException.class
/InvalidPositionException.class
/NoSuchElementException.class
